In [2]:
import os
import pandas as pd

In [3]:
os.listdir('./gas station/')

['상반기 주유소 판매가격.csv', '하반기 주유소 판매가격.csv']

In [4]:
total = []
for x in os.listdir('./gas station/'):
    total.append(pd.read_csv('./gas station/' + x, encoding = 'euc-kr'))
df_total=pd.concat(total)

In [5]:
df_total

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0
3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0
4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
91119,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191227,GS칼텍스,셀프,0,1540,1389,1100
91120,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191228,GS칼텍스,셀프,0,1540,1389,1100
91121,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191229,GS칼텍스,셀프,0,1540,1389,1100
91122,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191230,GS칼텍스,셀프,0,1540,1389,1100
91123,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191231,GS칼텍스,셀프,0,1540,1389,1100

In [6]:
df_total.shape

(181714, 11)

In [7]:
df=pd.concat([pd.read_csv('./gas station/' + x, encoding = 'euc-kr') for x in os.listdir("./gas station/")])

In [8]:
df.head(3)

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0

## 1) 각 지역별 1등 주유소

In [9]:
df1 = df[['지역', '상호', '상표']].drop_duplicates()

In [10]:
df1

           지역                     상호      상표
0      서울 강남구           (주)동하힐탑셀프주유소   SK에너지
181    서울 강남구               (주)만정에너지   GS칼텍스
362    서울 강남구            (주)보성 세곡주유소   SK에너지
543    서울 강남구             (주)선진도곡주유소   S-OIL
724    서울 강남구  (주)소모에너지엔테크놀러지 쎈트럴주유소   GS칼텍스
...       ...                    ...     ...
66651  서울 송파구                위례제일주유소   S-OIL
67908  서울 송파구      현대오일뱅크㈜직영 잠실셀프주유소  현대오일뱅크
69616  서울 양천구                가로공원주유소   SK에너지
71996  서울 양천구    현대오일뱅크(주)직영 양천셀프주유소  현대오일뱅크
82645  서울 은평구                번개셀프주유소    자가상표

[528 rows x 3 columns]

In [11]:
df1.상호.unique().size

507

In [12]:
df1.shape # 앗 중복된게 있나봐

(528, 3)

In [13]:
# 중복된 데이터 확인
df1[df1['상호'].duplicated()]

            지역                   상호      상표
10343   서울 강북구             (주)석산에너지  현대오일뱅크
26373   서울 구로구    SK에너지(주)직영 개봉동주유소   SK에너지
28263   서울 구로구                신성주유소  현대오일뱅크
32943   서울 노원구                신성주유소   S-OIL
39828  서울 동대문구                신성주유소  현대오일뱅크
59975   서울 성북구                동일주유소   GS칼텍스
64316   서울 송파구                대성주유소   SK에너지
72291   서울 양천구                현대주유소   S-OIL
80680   서울 용산구   현대오일뱅크(주)직영 소월길주유소  현대오일뱅크
86540    서울 중구                세화주유소   알뜰주유소
89052   서울 중랑구            면목SELF주유소   SK에너지
89577   서울 중랑구               오천만주유소   S-OIL
4928    서울 강남구                역삼주유소   GS칼텍스
52459   서울 서초구              양재최고주유소   S-OIL
58396   서울 성북구       GS칼텍스(주) 종암주유소   GS칼텍스
59293   서울 성북구              강산제2주유소  현대오일뱅크
60629   서울 성북구                우리주유소   SK에너지
67908   서울 송파구    현대오일뱅크㈜직영 잠실셀프주유소  현대오일뱅크
69616   서울 양천구              가로공원주유소   SK에너지
71996   서울 양천구  현대오일뱅크(주)직영 양천셀프주유소  현대오일뱅크
82645   서울 은평구              번개셀프주유소    자가상표

In [14]:
df1[df1['상호'] == '강산제2주유소']

           지역       상호      상표
59432  서울 성북구  강산제2주유소   GS칼텍스
59293  서울 성북구  강산제2주유소  현대오일뱅크

In [15]:
df[df['상호'] == '강산제2주유소'] #중간에 gs->현대오일로 바뀜

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
59432,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20190101,GS칼텍스,셀프,0,1439,1338,1100
59433,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20190102,GS칼텍스,셀프,0,1439,1338,1100
59434,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20190103,GS칼텍스,셀프,0,1439,1338,1100
59435,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20190104,GS칼텍스,셀프,0,1418,1328,1100
59436,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20190105,GS칼텍스,셀프,0,1418,1328,1100
...,...,...,...,...,...,...,...,...,...,...,...
59399,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20191227,현대오일뱅크,셀프,0,1492,1337,1000
59400,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20191228,현대오일뱅크,셀프,0,1492,1337,1000
59401,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20191229,현대오일뱅크,셀프,0,1492,1337,1000
59402,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20191230,현대오일뱅크,셀프,0,1492,1337,1000
59403,A0009492,서울 성북구,강산제2주유소,서울 성북구 보국문로 52,20191231,현대오일뱅크,셀프,0,1492,1337,1000

In [16]:
df_20191231=df[df['기간'] == 20191231].copy()

In [17]:
df_20191231[['지역', '상호', '상표']].drop_duplicates()

           지역                     상호     상표
183    서울 강남구           (주)동하힐탑셀프주유소  SK에너지
367    서울 강남구               (주)만정에너지  GS칼텍스
551    서울 강남구            (주)보성 세곡주유소  SK에너지
735    서울 강남구             (주)선진도곡주유소  S-OIL
919    서울 강남구  (주)소모에너지엔테크놀러지 쎈트럴주유소  GS칼텍스
...       ...                    ...    ...
90387  서울 중랑구                  우림주유소  GS칼텍스
90571  서울 중랑구           재원에너지㈜ 범아주유소  S-OIL
90755  서울 중랑구                    중랑교  SK에너지
90939  서울 중랑구          지에스칼텍스㈜ 대원주유소  GS칼텍스
91123  서울 중랑구          지에스칼텍스㈜ 소망주유소  GS칼텍스

[492 rows x 3 columns]

In [18]:
df_20191231_gu = df_20191231.groupby(['지역', '상표'], as_index=False)[['상호']].count()
#지역별 상표를 기준으로 상표 개수

In [19]:
df_20191231_gu.rename(columns={'상호' : '매장수'}, inplace=True)

In [20]:
df_20191231_gu

         지역      상표  매장수
0    서울 강남구   GS칼텍스   12
1    서울 강남구   S-OIL    6
2    서울 강남구   SK에너지   16
3    서울 강남구  현대오일뱅크    5
4    서울 강동구   GS칼텍스    5
..      ...     ...  ...
106   서울 중구  현대오일뱅크    1
107  서울 중랑구   GS칼텍스    5
108  서울 중랑구   S-OIL    5
109  서울 중랑구   SK에너지    5
110  서울 중랑구  현대오일뱅크    1

[111 rows x 3 columns]

In [21]:
df_20191231_gu.sort_values(by=['매장수'], ascending=False)

          지역      상표  매장수
2     서울 강남구   SK에너지   16
61    서울 서초구   GS칼텍스   14
87   서울 영등포구   SK에너지   14
82    서울 양천구   SK에너지   13
63    서울 서초구   SK에너지   13
..       ...     ...  ...
25    서울 광진구   알뜰주유소    1
40    서울 노원구  현대오일뱅크    1
35    서울 금천구   알뜰주유소    1
30    서울 구로구   알뜰주유소    1
110   서울 중랑구  현대오일뱅크    1

[111 rows x 3 columns]

In [22]:
df_20191231_gu.sort_values(by=['매장수'], ascending=False).groupby('지역').first()

            상표  매장수
지역
서울 강남구   SK에너지   16
서울 강동구   SK에너지    7
서울 강북구   SK에너지    5
서울 강서구   SK에너지   13
서울 관악구   SK에너지    5
서울 광진구   SK에너지    5
서울 구로구   S-OIL    6
서울 금천구   SK에너지    4
서울 노원구   GS칼텍스    6
서울 도봉구   S-OIL    6
서울 동대문구  SK에너지    8
서울 동작구   GS칼텍스    3
서울 마포구   SK에너지    6
서울 서대문구  SK에너지    7
서울 서초구   GS칼텍스   14
서울 성동구   SK에너지    7
서울 성북구   SK에너지    7
서울 송파구   SK에너지   13
서울 양천구   SK에너지   13
서울 영등포구  SK에너지   14
서울 용산구   SK에너지    9
서울 은평구   GS칼텍스    6
서울 종로구   SK에너지    4
서울 중구    GS칼텍스    4
서울 중랑구   GS칼텍스    5

* 검증해보기

In [23]:
검증 = df_20191231_gu.sort_values(by=['매장수'], ascending=False).groupby('지역').first()

In [24]:
검증

            상표  매장수
지역
서울 강남구   SK에너지   16
서울 강동구   SK에너지    7
서울 강북구   SK에너지    5
서울 강서구   SK에너지   13
서울 관악구   SK에너지    5
서울 광진구   SK에너지    5
서울 구로구   S-OIL    6
서울 금천구   SK에너지    4
서울 노원구   GS칼텍스    6
서울 도봉구   S-OIL    6
서울 동대문구  SK에너지    8
서울 동작구   GS칼텍스    3
서울 마포구   SK에너지    6
서울 서대문구  SK에너지    7
서울 서초구   GS칼텍스   14
서울 성동구   SK에너지    7
서울 성북구   SK에너지    7
서울 송파구   SK에너지   13
서울 양천구   SK에너지   13
서울 영등포구  SK에너지   14
서울 용산구   SK에너지    9
서울 은평구   GS칼텍스    6
서울 종로구   SK에너지    4
서울 중구    GS칼텍스    4
서울 중랑구   GS칼텍스    5

In [25]:
df_20191231_gu.query(" 지역 == '서울 동작구' ")

        지역      상표  매장수
49  서울 동작구   GS칼텍스    3
50  서울 동작구   S-OIL    1
51  서울 동작구   SK에너지    3
52  서울 동작구  현대오일뱅크    3

------------------------------------------------------------

## 2) 12월 한달 평균동안 휘발유 가격이 가장 비싼 동네는 ? (지역구 기준)

In [26]:
df_total

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0
3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0
4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
91119,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191227,GS칼텍스,셀프,0,1540,1389,1100
91120,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191228,GS칼텍스,셀프,0,1540,1389,1100
91121,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191229,GS칼텍스,셀프,0,1540,1389,1100
91122,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191230,GS칼텍스,셀프,0,1540,1389,1100
91123,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191231,GS칼텍스,셀프,0,1540,1389,1100

In [27]:
df_12 = df_total[(df_total['기간']).apply(lambda x : str(x)[:6]) == '201912']

In [28]:
df_12

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
153,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20191201,SK에너지,셀프,1792,1640,1495,0
154,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20191202,SK에너지,셀프,1792,1640,1495,0
155,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20191203,SK에너지,셀프,1792,1640,1495,0
156,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20191204,SK에너지,셀프,1792,1640,1495,0
157,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20191205,SK에너지,셀프,1792,1640,1495,0
...,...,...,...,...,...,...,...,...,...,...,...
91119,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191227,GS칼텍스,셀프,0,1540,1389,1100
91120,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191228,GS칼텍스,셀프,0,1540,1389,1100
91121,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191229,GS칼텍스,셀프,0,1540,1389,1100
91122,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191230,GS칼텍스,셀프,0,1540,1389,1100
91123,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191231,GS칼텍스,셀프,0,1540,1389,1100

In [29]:
df_12.groupby('지역').mean().sort_values(by='휘발유', ascending=False)

                   기간        고급휘발유          휘발유           경유        실내등유
지역
서울 중구    2.019122e+07  1940.164223  2065.598240  1885.480938  930.407625
서울 용산구   2.019122e+07  2214.119565  1951.595652  1816.254348  682.076087
서울 종로구   2.019122e+07  1686.376344  1899.917563  1737.727599  563.193548
서울 강남구   2.019122e+07  1689.507781  1773.900082  1619.884521  388.343980
서울 마포구   2.019122e+07   842.941748  1746.258900  1601.527508  555.608414
서울 성동구   2.019122e+07   802.151803  1649.977230  1480.445920  597.597723
서울 서초구   2.019122e+07  1343.990143  1643.736559  1499.260753  388.523297
서울 영등포구  2.019122e+07   533.050403  1641.550403  1484.408266  443.990927
서울 강동구   2.019122e+07   842.360887  1635.522177  1485.193548  741.497984
서울 서대문구  2.019122e+07   891.567742  1602.449462  1435.116129  356.666667
서울 노원구   2.019122e+07   593.638710  1601.903226  1446.266667  840.612903
서울 구로구   2.019122e+07   247.523810  1597.913978  1422.946237  659.116743
서울 관악구   2.019122e+07   458.372984  1591.328629  1441.721774  506.175403
서울 동작구   2.019122e+07   710.100000  1590.961290  1453.067742  325.903226
서울 양천구   2.019122e+07   628.036160  1571.936409  1407.501247  334.857855
서울 성북구   2.019122e+07   626.264045  1564.967697  1403.882022  607.946629
서울 송파구   2.019122e+07   794.521994  1564.572825  1415.964809  388.923754
서울 동대문구  2.019122e+07   242.099707  1563.275660  1385.655425  477.859238
서울 강서구   2.019122e+07   609.142586  1560.121673  1397.685361  377.151141
서울 금천구   2.019122e+07   130.342432  1559.215881  1393.905707  635.310174
서울 광진구   2.019122e+07   838.908918  1556.163188  1387.250474  399.882353
서울 은평구   2.019122e+07   609.607211  1547.113852  1391.865275  364.392789
서울 중랑구   2.019122e+07   230.320565  1538.842742  1371.245968  679.657258
서울 도봉구   2.019122e+07   406.367384  1532.709677  1381.449821  537.474910
서울 강북구   2.019122e+07   559.741935  1511.468983  1364.295285  222.580645

In [30]:
df_201912_mean = df_12.groupby('지역').mean().sort_values(by='휘발유', ascending=False)

In [31]:
df_201912_mean

                   기간        고급휘발유          휘발유           경유        실내등유
지역
서울 중구    2.019122e+07  1940.164223  2065.598240  1885.480938  930.407625
서울 용산구   2.019122e+07  2214.119565  1951.595652  1816.254348  682.076087
서울 종로구   2.019122e+07  1686.376344  1899.917563  1737.727599  563.193548
서울 강남구   2.019122e+07  1689.507781  1773.900082  1619.884521  388.343980
서울 마포구   2.019122e+07   842.941748  1746.258900  1601.527508  555.608414
서울 성동구   2.019122e+07   802.151803  1649.977230  1480.445920  597.597723
서울 서초구   2.019122e+07  1343.990143  1643.736559  1499.260753  388.523297
서울 영등포구  2.019122e+07   533.050403  1641.550403  1484.408266  443.990927
서울 강동구   2.019122e+07   842.360887  1635.522177  1485.193548  741.497984
서울 서대문구  2.019122e+07   891.567742  1602.449462  1435.116129  356.666667
서울 노원구   2.019122e+07   593.638710  1601.903226  1446.266667  840.612903
서울 구로구   2.019122e+07   247.523810  1597.913978  1422.946237  659.116743
서울 관악구   2.019122e+07   458.372984  1591.328629  1441.721774  506.175403
서울 동작구   2.019122e+07   710.100000  1590.961290  1453.067742  325.903226
서울 양천구   2.019122e+07   628.036160  1571.936409  1407.501247  334.857855
서울 성북구   2.019122e+07   626.264045  1564.967697  1403.882022  607.946629
서울 송파구   2.019122e+07   794.521994  1564.572825  1415.964809  388.923754
서울 동대문구  2.019122e+07   242.099707  1563.275660  1385.655425  477.859238
서울 강서구   2.019122e+07   609.142586  1560.121673  1397.685361  377.151141
서울 금천구   2.019122e+07   130.342432  1559.215881  1393.905707  635.310174
서울 광진구   2.019122e+07   838.908918  1556.163188  1387.250474  399.882353
서울 은평구   2.019122e+07   609.607211  1547.113852  1391.865275  364.392789
서울 중랑구   2.019122e+07   230.320565  1538.842742  1371.245968  679.657258
서울 도봉구   2.019122e+07   406.367384  1532.709677  1381.449821  537.474910
서울 강북구   2.019122e+07   559.741935  1511.468983  1364.295285  222.580645

In [34]:
df_201912_mean.mean().values[0]

20191215.988850154

## 3) 서울시 소재의 주유소 중에서  self 주유소와 일반 주유소의 집계

In [78]:
df_total[['번호', '주소', '셀프여부']].drop_duplicates()

             번호                        주소 셀프여부
0      A0006039            서울 강남구 논현로 640   셀프
181    A0000525     서울 강남구 봉은사로 433 (삼성동)   일반
362    A0001219  서울특별시 강남구  헌릉로 731 (세곡동)   셀프
543    A0009061      서울 강남구 도곡로 162 (도곡동)   일반
724    A0001217      서울 강남구 삼성로 335 (대치동)   일반
...         ...                       ...  ...
89866  A0009220       서울 중랑구 동일로 881 (묵동)   일반
90047  A0009197      서울 중랑구 망우로 229 (중화동)   셀프
90228  A0009180            서울 중랑구 동일로 600   셀프
90409  A0032659            서울 중랑구 망우로 475   셀프
66651  A0033424           서울 송파구 위례서로 258   셀프

[512 rows x 3 columns]

In [76]:
df_total[['번호', '주소', '셀프여부']].drop_duplicates()['셀프여부'].value_counts()

일반    306
셀프    206
Name: 셀프여부, dtype: int64

* 비율

In [79]:
df_total[['번호', '주소', '셀프여부']].drop_duplicates()['셀프여부'].value_counts() / df_total[['번호', '주소', '셀프여부']].drop_duplicates()['셀프여부'].value_counts().sum()*100

일반    59.765625
셀프    40.234375
Name: 셀프여부, dtype: float64